<!doctype html>
<html lang="zh-tw">
<head>
<meta http-equiv="Content-Type" content="charset=utf-8">
<title>關於我們</title>
<meta http-equiv="Description" content="艦娘,艦口雷,kancolle">
<meta http-equiv="Keywords" content="艦娘,艦口雷,kancolle">
	<link rel="stylesheet" type="text/css" href="../kan.css" >
<script language="javascript">
	function MenuOn(x){
		obj=document.getElementById("submenu"+x).style.visibility="visible";
	}
	function MenuOff(x){
		obj=document.getElementById("submenu"+x).style.visibility="hidden";
	}
</script>
</head>

<body>
	<div class="contents">
	<div class="menu">
		<div id="menu1" onMouseOver="MenuOn(1)" onMouseOut="MenuOff(1)">
		<a href="../index.html" class="menuhead">首頁</a>
		<div class="submenu" id="submenu1">
			<a href="about.html">關於我們</a>
		</div>
		</div>
		
		<div id="menu2" onMouseOver="MenuOn(2)" onMouseOut="MenuOff(2)">
		<a href="new.html" class="menuhead">最新消息</a> 
		<div class="submenu" id="submenu2">
			<a href="new_twitter.html">營運情報</a>
			<a href="new_twitter.html">PTT好文</a>
			<a href="new_twitter.html">巴哈好文</a>
			<a href="new_twitter.html">wiki情報</a>
		</div>
		</div>
		
		<div id="menu3" onMouseOver="MenuOn(3)" onMouseOut="MenuOff(3)">
		<a href="wiki.html" class="menuhead">攻略</a>
		<div class="submenu" id="submenu3">
			<a href="wiki_ptt.html">NGA攻略</a>
			<a href="wiki_ptt.html">PTT攻略</a>
			<a href="wiki_ptt.html">巴哈攻略</a>
			<a href="wiki_ptt.html">wiki攻略</a>
		</div>
		</div>
	
		<div id="menu4" onMouseOver="MenuOn(4)" onMouseOut="MenuOff(4)">
		<a href="good.html" class="menuhead">好康</a>
		<div class="submenu" id="submenu4">
			<a href="good_pixiv.html">P站</a>
			<a href="good_pixiv.html">PTT</a>
			<a href="good_pixiv.html">巴哈</a>
			<a href="good_pixiv.html">推特</a>
		</div>
		</div>
			
		<div id="menu5">
		<a href="contact.html" class="menuhead">聯絡</a>
		</div>

	</div>
	
	<h1>艦隊Collection</h1>	
	<p class="graph"><img src="../images/ama1.png" alt="amatsukaze" width="250">本命嫁艦-天津風</p>
	<div class="section">
	
	<h2><img src="../images/icon.png" class="icon">站主資訊</h2>
	<p>\ 比起甲章 更喜歡收集圖鑑 /</p>
	<p>目前是全圖鑑達成~<br>各種複製人農場育成中!</p>
	<p>Q: 如何稱呼?<br>A: 潘潘、ET、UFO、幽浮...都可~</p>
	<p>Q:何時上任?<br>A: 2015/03/24 速貓灣</p>
	</div>
	
	<div class="section">
	<h2><img src="../images/icon.png" class="icon">我的直播</h2>	
		<p>活動時有空就會開台~
		<div class="container">
		<a href="https://www.twitch.tv/etinufo168">
		<img src="../images/link.png" width="120">
			<div class="centered">我的Twitch</div>
		</a>
		</div>
		</p>
	</div>
	
	<address>COPYRIGHT &copy BY DESIGN</address>
	</div>
</body>
</html>
