<!doctype html>
<html lang="zh-tw">
<head>
<meta http-equiv="Content-Type" content="charset=utf-8">
<title>P站</title>
<meta http-equiv="Description" content="艦娘,艦口雷,kancolle">
<meta http-equiv="Keywords" content="艦娘,艦口雷,kancolle">
	<link rel="stylesheet" type="text/css" href="../kan.css" >
<script language="javascript">
	function MenuOn(x){
		obj=document.getElementById("submenu"+x).style.visibility="visible";
	}
	function MenuOff(x){
		obj=document.getElementById("submenu"+x).style.visibility="hidden";
	}
</script>
</head>

<body>
	<div class="contents">
	<div class="menu">
		<div id="menu1" onMouseOver="MenuOn(1)" onMouseOut="MenuOff(1)">
		<a href="../index.html" class="menuhead">首頁</a>
		<div class="submenu" id="submenu1">
			<a href="about.html">關於我們</a>
		</div>
		</div>
		
		<div id="menu2" onMouseOver="MenuOn(2)" onMouseOut="MenuOff(2)">
		<a href="new.html" class="menuhead">最新消息</a> 
		<div class="submenu" id="submenu2">
			<a href="new_twitter.html">營運情報</a>
			<a href="new_twitter.html">PTT好文</a>
			<a href="new_twitter.html">巴哈好文</a>
			<a href="new_twitter.html">wiki情報</a>
		</div>
		</div>
		
		<div id="menu3" onMouseOver="MenuOn(3)" onMouseOut="MenuOff(3)">
		<a href="wiki.html" class="menuhead">攻略</a>
		<div class="submenu" id="submenu3">
			<a href="wiki_ptt.html">NGA攻略</a>
			<a href="wiki_ptt.html">PTT攻略</a>
			<a href="wiki_ptt.html">巴哈攻略</a>
			<a href="wiki_ptt.html">wiki攻略</a>
		</div>
		</div>
	
		<div id="menu4" onMouseOver="MenuOn(4)" onMouseOut="MenuOff(4)">
		<a href="good.html" class="menuhead">好康</a>
		<div class="submenu" id="submenu4">
			<a href="good_pixiv.html">P站</a>
			<a href="good_pixiv.html">PTT</a>
			<a href="good_pixiv.html">巴哈</a>
			<a href="good_pixiv.html">推特</a>
		</div>
		</div>
			
		<div id="menu5">
		<a href="contact.html" class="menuhead">聯絡</a>
		</div>

	</div>
	
	<h1>艦隊Collection</h1>	
	<p class="graph"><img src="../images/pixiv.PNG" alt="ptt" width="150">ふーみ</p>
	<div class="section">
	
	<h2><img src="../images/icon.png" class="icon">P主推薦</h2>
		<div class="link">
		<a href="https://www.pixiv.net/member.php?id=10292">ふーみ</a>
		<a href="https://www.pixiv.net/member.php?id=3145937">コ゛りぼて</a>
		<a href="https://www.pixiv.net/member.php?id=53993">かにかま</a>
		</div>
	
	<div class="section">
	<p></p>
	</div>
	
	<address>COPYRIGHT &copy BY DESIGN</address>
	</div>
</body>
</html>
