<!doctype html>
<html lang="zh-tw">
<head>
<meta http-equiv="Content-Type" content="charset=utf-8">
<title>最新消息</title>
<meta http-equiv="Description" content="艦娘,艦口雷,kancolle">
<meta http-equiv="Keywords" content="艦娘,艦口雷,kancolle">
	<link rel="stylesheet" type="text/css" href="../kan.css" >
<script language="javascript">
	function MenuOn(x){
		obj=document.getElementById("submenu"+x).style.visibility="visible";
	}
	function MenuOff(x){
		obj=document.getElementById("submenu"+x).style.visibility="hidden";
	}
</script>
</head>

<body>
	<div class="contents">
	<div class="menu">
		<div id="menu1" onMouseOver="MenuOn(1)" onMouseOut="MenuOff(1)">
		<a href="../index.html" class="menuhead">首頁</a>
		<div class="submenu" id="submenu1">
			<a href="about.html">關於我們</a>
		</div>
		</div>
		
		<div id="menu2" onMouseOver="MenuOn(2)" onMouseOut="MenuOff(2)">
		<a href="new.html" class="menuhead">最新消息</a> 
		<div class="submenu" id="submenu2">
			<a href="new_twitter.html">營運情報</a>
			<a href="new_twitter.html">PTT好文</a>
			<a href="new_twitter.html">巴哈好文</a>
			<a href="new_twitter.html">wiki情報</a>
		</div>
		</div>
		
		<div id="menu3" onMouseOver="MenuOn(3)" onMouseOut="MenuOff(3)">
		<a href="wiki.html" class="menuhead">攻略</a>
		<div class="submenu" id="submenu3">
			<a href="wiki_ptt.html">NGA攻略</a>
			<a href="wiki_ptt.html">PTT攻略</a>
			<a href="wiki_ptt.html">巴哈攻略</a>
			<a href="wiki_ptt.html">wiki攻略</a>
		</div>
		</div>
	
		<div id="menu4" onMouseOver="MenuOn(4)" onMouseOut="MenuOff(4)">
		<a href="good.html" class="menuhead">好康</a>
		<div class="submenu" id="submenu4">
			<a href="good_pixiv.html">P站</a>
			<a href="good_pixiv.html">PTT</a>
			<a href="good_pixiv.html">巴哈</a>
			<a href="good_pixiv.html">推特</a>
		</div>
		</div>
			
		<div id="menu5">
		<a href="contact.html" class="menuhead">聯絡</a>
		</div>

	</div>
	
	<h1>艦隊Collection</h1>
	
	<div class="section">
	
	<h2><img src="../images/icon.png" class="icon">日本wiki</h2>
		<img src="../images/wiki.jpg" class="main" style="display:block; margin:auto;" width="450">
		<p class="graph"><img src="../images/pukiwiki.png" alt="kon2" width="250">艦隊これくしょん -艦これ攻略 Wiki*</p>
	<a href="https://wikiwiki.jp/kancolle/"  class="link"></a>
	<p>『艦隊これくしょん -艦これ-』は、DMM.comと角川ゲームスが共同開発した、新しいタイプのソーシャルゲームです。
旧日本軍の駆逐艦や軽巡洋艦、重巡洋艦を擬人化した「艦娘（かんむす）」で、艦隊を編成、育成、強化しながら、無敵の連合艦隊を目指す育成シミュレーションゲームです。</p>
	</div>
		
	<div class="section">
	
	<h2><img src="../images/icon.png" class="icon">萌娘百科</h2>
		<img src="../images/moe.png" class="main" style="display:block; margin:auto;">
	<a href="https://zh.moegirl.org/%E8%88%B0%E9%98%9FCollection" class="link">艦隊Collection - 萌娘百科</a>
	</div>
	
	<address>COPYRIGHT &copy BY DESIGN</address>
	</div>
</body>
</html>
